[run]
# Omit files that shall not be covered
omit =
    unpackai/_nbdev.py
    # We will skip coverage of deploy for the moment
    unpackai/deploy/cv.py
    # uncomment the line below to skip coverage of __init__.py
    # */__init__.py